<div class="tasks-container">
  <div class="tasks-header-container">
    <h2>Tasks List</h2>
    <button (click)="logout()" class="form-submit-button logout-button">Logout</button>
  </div>

  <!-- Input + Add button -->
  <button class="form-submit-button add-task-button" (click)="addTask()">Add Task</button>

  @if (tasks && tasks.length > 0) {
    <!-- Tasks list -->
  <table class="tasks-table-grid">
    <thead>
      <tr>
        <th>No.</th>
        <th>Task Name</th>
        <th>Description</th>
        <th>Priority</th>
        <th>Active</th>
        <th>Delete Task</th>
        <th>Edit Task</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let task of tasks; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ task.taskName }}</td>
        <td>{{ task.taskDescription }}</td>

        <td
          [class]="
            task.taskPriority.toLowerCase() === 'high' ? 'high-priority'
            : task?.taskPriority?.toLowerCase() === 'medium' ? 'medium-priority'
            : task?.taskPriority?.toLowerCase() === 'low' ? 'low-priority'
            : 'priority-not-found'
          "
        >{{ task.taskPriority }}</td>

        <!-- isActive as icon -->
        <td>
          <i *ngIf="task.isActive" class="fas fa-check-circle is-active-green"></i>
          <i *ngIf="!task.isActive" class="fas fa-times-circle is-active-red"></i>
        </td>

        <!-- isDeleted as icon -->
        <td>
          <i class="fas fa-trash delete-icon" (click)="deleteTask(task.id)"></i>
        </td>

        <td>
          <i class="fas fa-edit edit-tasks-icon"></i>
        </td>
      </tr>
    </tbody>
  </table>
  }
  @else {
    <h1 style="text-align: center;">No Tasks found</h1>
  }
</div>