<div class="users-card">
    <!-- Header -->
    <div class="users-header">
        <h3>Recent users</h3>

        <div>
          <button class="view-all-btn">View All Users</button>
        </div>
    </div>

    <!-- Users List -->
    @if (users.length > 0) {
        <div class="user-item" *ngFor="let user of users">
            <img [src]="user.profileImage" alt="User" class="avatar">

            <div class="user-info">
                <div class="name">{{ user.username }}</div>
                <div class="date">{{ user.createdDate | date}}</div>
            </div>

            @if (isNewUser(user.createdDate)) {}
            <span class="new-user-status">
                New
            </span>
        </div>
    }
    @else {
        <div class="user-item">No Users found</div>
    }
</div>