<div class="tt-input-container">
    <label [for]="passwordInputId" class="tt-label">{{passwordInputLabel}}</label>

    <div class="password-input-wrapper">

        <input 
            [id]="passwordInputId"
            class="tt-input"
            [formControl]="passwordInputControl"
            [type]="showPassword ? 'text' : 'password'"
            [autocomplete]="passwordInputAutocomplete"
        />

        <i 
            class="fas password-toggle-icon"
            [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"
            (click)="togglePassword()"
        ></i>
    </div>

    <!-- Errors -->
    @if (passwordError) {
        <div class="error">
            <span>{{passwordError}}</span>
        </div>
    }
</div>