<form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
  <h2 class="login-header">Login</h2>

  <div class="tt-input-container">
    <label for="username">Username</label>
    <input id="username" type="username" formControlName="username" class="tt-input" />
    <div *ngIf="loginUsernameControl?.dirty && loginUsernameControl?.errors" class="error">
      <span *ngIf="loginUsernameControl?.errors?.['required']">Username is required</span>
    </div>
  </div>

  <div class="tt-input-container">
    <label for="password">Password</label>
    <input  id="password" type="password" formControlName="password" class="tt-input" />
    <div *ngIf="loginPasswordControl?.dirty && loginPasswordControl?.errors" class="error">
      <span *ngIf="loginPasswordControl?.errors?.['required']">Password is required</span>
    </div>
  </div>

  <button type="submit" [disabled]="isLoggingInUser" class="form-submit-button">
    <span *ngIf="!isLoggingInUser">Login</span>
    <span *ngIf="isLoggingInUser">
      <i class="fas fa-spinner fa-spin"></i>
    </span>
  </button>
</form>