@if (activeTask) {
    @if (showTimer) {
        <div class="toast-container">
            <div>
                <!-- Start / Stop icons -->
                @if (isTimerRunning(activeTask)) {
                    <i
                        class="fas fa-pause stop-icon"
                        (click)="stopTimer(activeTask)"
                        title="Stop Timer"
                    ></i>
                }
                @else {
                    <i
                        class="fas fa-play start-icon"
                        (click)="startTimer(activeTask)"
                        title="Start Timer"
                    ></i>
                }
                Task Name: {{ activeTask.taskName }} | Time worked: {{ getTimerDisplay(activeTask) }}
                <button (click)="closeTimerToast()" class="hide-btn">✖</button>
            </div>
        </div>
    }
    @else {
        <button (click)="reopenTimerToast()" class="show-timer-btn">
            Show Timer
        </button>
    }
}