.toast-container {
  gap: 1rem;
  display: flex;
  color: white;
  padding: 10px 15px;
  align-items: center;
  justify-content: center;
  background: var(--secondary);
}

.start-icon, .stop-icon, .close-icon, .show-timer-icon {
  cursor: pointer;
  font-size: 16px;
  color: #fff;
}

.start-icon:hover { color: #4caf50; }   /* green */
.stop-icon:hover { color: #f44336; }    /* red */
.close-icon:hover { color: #ff9800; }   /* orange */
.show-timer-icon:hover { color: #2196f3; } /* blue */
.task-info {
  flex: 1;
}

.hide-btn {
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 14px;
}
.hide-btn:hover {
    color: red;
}

.show-timer-btn {
    position: fixed;
    top: 8px;
    right: 10px;
    padding: 6px 12px;
    background: var(--primary);
    color: white;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}