@if (createANewTaskForm) {
<form [formGroup]="createANewTaskForm" (ngSubmit)="onCreateANewTaskSubmit()">
    <h2>Create a New Task</h2>

    <div class="tt-input-container">
      <label for="taskName">Task Name</label>
      <input id="taskName" type="text" formControlName="taskName" class="tt-input" />
      @if (taskNameControl.dirty && taskNameControl.errors) {
        <div class="error">
          @if (taskNameControl.errors['required']) {
            <span>Task Name is required</span>            
          }
        </div>
      }
    </div>

    <div class="tt-input-container">
      <label for="taskDescription">Task Description</label>
      <input id="taskDescription" type="text" formControlName="taskDescription" class="tt-input" />
      @if (taskDescriptionControl.dirty && taskDescriptionControl.errors) {
        <div class="error">
          @if (taskDescriptionControl.errors['required']) {
            <span>Task Description is required</span>            
          }
        </div>
      }
    </div>

    <app-priority-dropdown
      [control]="taskPriorityControl"
    />

    <button type="submit" [disabled]="isCreatingANewTask" class="form-submit-button">
      <span>
        @if (isCreatingANewTask) {
          <i class="fas fa-spinner fa-spin"></i>
        }
        @else {
          Add a new Task
        }
      </span>
  </button>
</form>
}
