@if (createANewTaskForm) {
<form [formGroup]="createANewTaskForm" (ngSubmit)="onCreateANewTaskSubmit()">
    <h2>Create a New Task</h2>

    <div>
      <label for="taskName">Task Name</label>
      <input id="taskName" type="text" formControlName="taskName" />
      <div *ngIf="taskNameControl?.dirty && taskNameControl?.errors" class="error">
        <span *ngIf="taskNameControl?.errors?.['required']">Username is required</span>
      </div>
    </div>

    <div>
      <label for="taskDescription">Task Description</label>
      <input id="taskDescription" type="text" formControlName="taskDescription" />
      <div *ngIf="taskDescriptionControl?.dirty && taskDescriptionControl?.errors" class="error">
        <span *ngIf="taskDescriptionControl?.errors?.['required']">Username is required</span>
      </div>
    </div>
</form>
}
