<form [formGroup]="taskForm" (ngSubmit)="onSubmit()" class="task-form-container">
  <div class="tt-input-container">
    <label for="taskName">Task Name</label>
    <input id="taskName" type="text" formControlName="taskName" class="tt-input" />
    @if (taskNameControl.dirty && taskNameControl.errors) {
      <div class="error">
        @if (taskNameControl.errors['required']) {
          <span>Task Name is required</span>
        }
      </div>
    }
  </div>

    <div class="tt-input-container">
      <label for="taskDescription">Task Description</label>
      <input id="taskDescription" type="text" formControlName="taskDescription" class="tt-input" />
      @if (taskDescriptionControl.dirty && taskDescriptionControl.errors) {
        <div class="error">
        @if (taskDescriptionControl.errors['required']) {
          <span>Task Description is required</span>
        }
        </div>
      }
    </div>

    <app-priority-dropdown [control]="taskPriorityControl"></app-priority-dropdown>
    @if (taskPriorityControl.dirty && taskPriorityControl.errors) {
      <div class="error">
        @if (taskPriorityControl.errors['required']) {
          <span>Task Priority is required</span>
        }
      </div>
    }
    
    <div class="tt-input-container">
      <label for="taskDuration">Task Duration (hours)</label>
      <input
        id="taskDuration"
        type="number"
        min="0"
        formControlName="taskDuration"
        placeholder="e.g. 4h"
        class="tt-input"
      />
      @if (taskDurationControl.invalid && (taskDurationControl.dirty || taskDurationControl.touched)) {
        <div>
          <small class="error">Please enter a valid number of hours.</small>
        </div>
      }
    </div>

    <button type="submit" [disabled]="isSubmitting" class="form-submit-button task-submit-button">
      <span>
      @if (isSubmitting) {
        <i class="fas fa-spinner fa-spin"></i>
      }
      @else {
        {{ submitButtonText }}
      }
      </span>
    </button>
</form>