<div class="dashboard-container">
  <div class="dashboard-header-container">
    <h1 class="dashboard-title">Dashboard</h1>

    <div class="profile-and-logout-container">
      @if (profileImage) {
      <img [src]="profileImage"
        alt="User Profile Picture" 
        class="profile-img" />
      }
      <!-- Logout Icon -->
      <button class="logout-btn" (click)="logout()">
        <span class="material-icons">logout</span>
      </button>
    </div>
  </div>

  <div class="dashboard-cards-container">
    <app-task-progress-card [tasks]="tasks"/>
    <app-all-users-card [users]="users" />
    <app-tasks-per-user-card [users]="users" [tasks]="tasks" />
  </div>
</div>